aliases: "dotsme"
dotsme:
  location: "$HOME/dotfiles-personal"
dots:
  sshconf: "dotsme"
  gitconfig: "dotsme"
  vimrc: "dotsme"
  tmuxconf: "dotsme"
  bashaliases: "dotsme"
  bashdfolder: "dotsme"
  profiledfolder: "dotsme"
