# defaults for the include vars
# these variables determine which order the dotfile repos will be read for each 
# type of configuration file multiplex being generated

declare -A config

config[include_aliases]="dotfiles-personal"
config[include_vimrc]="dotfiles"
config[include_gitconfig]="dotfiles"
config[include_tmuxconf]="dotfiles"
config[include_sshconfig]="dotfiles"
config[include_bashd]="dotfiles"
config[include_profiled]="dotfiles"

